#logo{
    height: 300px;
}

.body{
  background-color: aqua;
  color: brown;
}






.carousel-container {
    width: 80%; 
    margin: 40px auto; 
    overflow: hidden; 
    overflow-x: scroll; 
    scroll-behavior: smooth; 
}


.slider {
  
    display: flex; 
    flex-wrap: nowrap; 
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.slider img {
    width: 300px; 
    
    height: 300px; 
    margin-right: 15px; 
    flex-shrink: 0;
}
.sbatata{
    display: flex;
    justify-content: center;
    align-items: center;
}
